.top_bar {
    width: 100%;
    min-width: 800px;
    height: 40px;
    background-color: #74b9ff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid white;
    border-bottom: 0;
    display: inline-flex;
}

.logo a {
    margin-left: 10px;
    position: relative;
    top: 8px;
    font-weight: bold;
}

a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: blink;
    cursor: pointer;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

nav {
    float: right;
    right: 10px;
    position: absolute;
    top: 8px;
}

nav a:hover {
    color: white;
    background-color: transparent;
    text-decoration: blink;
    cursor: pointer;
}
nav a i:hover {
    border: 2px solid yellow;
    border-radius: 5px;
}

.search {
    margin: -3px 0 0 5%;
}

.search #search_text_input {
    float: left;
    outline: 0;
}

.search_button {
    float: left;
    text-align: center;
    background-color: white;
    margin: 10px 0px 0px -42px;
    width: 40px;
    height: 25px;
    border: 2px solid;
    border-radius: 2px;
}

.search_button img {
    height: 23px;
    margin-top: -1px;
}

input[type=text]:focus {
    border: 2px solid white;
    background-color: transparent;
    border-radius: 4px;
    color: yellow;
    font-family: "Segoe Print", fantasy;
    margin-top: 8px;
    width: 220px;
}

.search_results {
    position: relative;
    z-index: 3;
    margin: 42px 0 0 0;
}

.live_search_profile_pic img {
    height: 40px;
    margin: 5px 15px 0 5px;
    float: left;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.result_display {
    padding: 5px 5px 0 5px;
    height: 80px;
    margin-bottom: 1px;
    border: 1px solid #ff0052;
    background-color: #fff;
    border-radius: 15px;
}

.result_display a {
    float: none;
}

.live_search_text {
    color: #555555;
    font-size: 12px;
    font-weight: bold;
}

.live_search_text p {
    margin-left: 10px;
    font-size: 10px;
}

.live_search_friend_request_button {
    margin: -9px 0 0 60%;
    position: absolute;
}